header {
  text-align: center;
}

main {
  display: flex;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
}

#selector {
  align-self: center;
  margin-bottom: 30px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap:wrap;
}

li {
  margin: 10px;
  border: 2px solid black;
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

img {
  width:200px;
  height: 200px;
}

